.card-header {
    padding: 10px; /* Reduce padding */
    background-color: #000000a3; /* Semi-transparent black background */
    display: flex;
    justify-content: center; /* Center title */
  }
  
  .card-title {
    font-size: 1.2rem; /* Responsive font size */
  }
  
  @media (max-width: 768px) {
    .card-header {
      padding: 5px; /* Even smaller padding for mobile */
    }
    .card-title {
      font-size: 1rem; /* Smaller font size for mobile */
    }
  }
  