.direct-chat-messages {
  height: 100%; /* This ensures it takes up all the available height of its parent */
  display: flex;
  flex-direction: column; /* Ensures messages stack vertically */
}

/* Ensure internal content does not exceed the chat-container's width */
.direct-chat-text {
  word-wrap: break-word; 

}

.additional-content {
  margin-top: 10px; /* Adjust margin as needed */
  padding: 10px; /* Adjust padding as needed */
  background-color: #f9f9f9; /* Example background color */
  border: 1px solid #ccc; /* Example border */
  border-radius: 5px; /* Example border radius */
}

.table-responsive {
  overflow-x: auto; /* Allows horizontal scrolling only when necessary */
}

.initial-message {
  margin: 10px; /* Ensure margins do not cause overflow */
  padding: 15px; /* Sufficient padding without causing overflow */
  text-align: center; /* Center text without affecting dimensions */
}


.chat-container {
  height: calc(100vh - 150px); /* Example adjustment, subtract heights of other components like headers/footers */
  padding: 0;
}

.direct-chat-messages {
  height: 100%;
  display: flex;
  flex-direction: column;
}



.initial-message {
  padding: 20px;
  margin-top: 200px; /* Adjust top margin based on actual space */
  text-align: center;
  font-size: 1.5rem;
  color: #505050;
  font-weight: bold;
  width: 90%;
}

@media (max-width: 768px) {
  .chat-container {
    height: calc(100vh - 160px);
  }

  .chatbot-container {
    padding: 5px;
  }
  .initial-message{
    margin-top: 150px;
  }
}

@media (max-width: 480px) {
  .chat-container {
    height: calc(100vh - 165px); /* Further adjustment for smaller devices */
  }
  .initial-message{
    margin-top: 150px;
  }
}

/* .apex{
  overflow: auto;
  min-width: 500px;
  overflow-x: auto;
 
} */
.apex {
  overflow: auto;
  min-width: 500px;
  overflow-x: auto;
  width: 70%; /* Set width to 70% */
}
.direct-chat-text {
  word-wrap: break-word;
  overflow: auto;
  padding: 10px; 
  border-radius: 5px; /* Add some border radius for style */
  margin-bottom: 10px; /* Add margin bottom for spacing between messages */
}
